In [1]:
import pandas as pd
import numpy as np

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [83]:
log_clf = LogisticRegression()
rnd_clf = RandomForestClassifier()
svm_clf = SVC()

In [10]:
data = pd.read_excel('/home/ekim_reverse/PyCode/study/Python.study/pre_03.xlsx')

In [11]:
data

,RID,DM,SEX,age,phase,glu,alt,tg,waist,fib4,hba1c,homa
0,EPI18_079_000033,1,1,48,4,140,32.0,178,76.800000,0.952007,6.2,2.316049
1,EPI18_079_000051,1,2,73,3,104,17.0,126,92.700000,0.820026,7.7,1.753086
2,EPI18_079_000069,1,1,52,2,138,33.0,192,91.800000,0.804626,5.5,3.645926
3,EPI18_079_000075,1,2,58,6,98,21.0,362,85.566667,1.002506,6.7,2.758519
4,EPI18_079_000126,1,2,50,4,132,24.0,194,89.033333,0.671461,7.7,3.454815
...,...,...,...,...,...,...,...,...,...,...,...,...
3042,EPI18_079_010021,0,2,72,7,82,14.0,141,84.300000,4.133641,5.1,1.761481
3043,EPI18_079_010022,0,2,67,7,93,15.0,122,102.000000,1.193057,5.7,2.204444
3044,EPI18_079_010023,0,1,73,7,92,44.0,106,85.300000,1.292553,5.5,1.862716
3045,EPI18_079_010024,0,2,58,7,90,15.0,133,89.000000,0.914204,5.9,1.711111
3046,EPI18_079_010028,0,2,53,7,88,62.0,45,76.600000,1.845048,5.7,1.760000

In [20]:
df = data.loc[:,'DM':'homa']

In [21]:
df

,DM,SEX,age,phase,glu,alt,tg,waist,fib4,hba1c,homa
0,1,1,48,4,140,32.0,178,76.800000,0.952007,6.2,2.316049
1,1,2,73,3,104,17.0,126,92.700000,0.820026,7.7,1.753086
2,1,1,52,2,138,33.0,192,91.800000,0.804626,5.5,3.645926
3,1,2,58,6,98,21.0,362,85.566667,1.002506,6.7,2.758519
4,1,2,50,4,132,24.0,194,89.033333,0.671461,7.7,3.454815
...,...,...,...,...,...,...,...,...,...,...,...
3042,0,2,72,7,82,14.0,141,84.300000,4.133641,5.1,1.761481
3043,0,2,67,7,93,15.0,122,102.000000,1.193057,5.7,2.204444
3044,0,1,73,7,92,44.0,106,85.300000,1.292553,5.5,1.862716
3045,0,2,58,7,90,15.0,133,89.000000,0.914204,5.9,1.711111
3046,0,2,53,7,88,62.0,45,76.600000,1.845048,5.7,1.760000

In [48]:
df.isna().sum()

DM       0
SEX      0
age      0
phase    0
glu      0
alt      1
tg       0
waist    1
fib4     1
hba1c    0
homa     0
dtype: int64

In [86]:
df = df.dropna(axis=0)

In [186]:
y = df['DM']

In [175]:
y.isna().sum()

DM       0
SEX      0
age      0
phase    0
glu      0
alt      0
tg       0
waist    0
fib4     0
hba1c    0
homa     0
dtype: int64

In [191]:
x = df[['SEX','age','phase','glu','alt','waist','fib4','hba1c','homa']]

In [192]:
x_train, x_test, y_train, y_test = train_test_split(x, y,  train_size=0.8, random_state=42)

In [202]:
rnd_clf = RandomForestClassifier(n_estimators=500, random_state=42)

In [208]:
result_01 = rnd_clf.fit(x_train, y_train)

In [204]:
from sklearn import metrics

In [205]:
y_pred_rf=rnd_clf.predict(x_test)

In [206]:
print(y_pred_rf)

[0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 1 0 1 1 0 0 1 1 0 1 1 0 0 0 0 1 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 1 0 1 1 0 1 1 1 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0
 0 1 1 0 0 1 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0
 0 0 1 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 0 0 0 0 1 0 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0]

In [207]:
print('정확도 :',metrics.accuracy_score(y_test,y_pred_rf))

정확도 : 0.9950738916256158