In [19]:
import pandas as pd
import numpy as np

In [20]:
data = pd.read_excel('/home/ekim_reverse/PyCode/study/Python.study/DATA_20191210_prep4.xlsx')

In [21]:
data.head()

,RID,DM,SEX,age,phase,AS1_GLU,AS2_GLU,AS3_GLU,AS4_GLU,AS5_GLU,...,AS5_DM,AS6_DM,AS7_DM,AS1_HOMA,AS2_HOMA,AS3_HOMA,AS4_HOMA,AS5_HOMA,AS6_HOMA,AS7_HOMA
0,EPI18_079_000033,1,1,48,4,104.0,113,121,140,109,...,1,1,1,1.335309,1.340000,1.830000,2.316049,1.399506,1.659259,2.082963
1,EPI18_079_000051,1,2,73,3,83.0,99,104,108,83,...,1,1,1,1.578025,1.980000,1.753086,4.080000,1.598519,1.866667,3.899259
2,EPI18_079_000069,1,1,52,2,82.0,138,100,91,96,...,1,1,1,2.247407,3.645926,2.469136,1.954815,1.991111,1.836296,2.097778
3,EPI18_079_000075,1,2,58,6,82.0,89,100,99,104,...,0,1,1,0.749136,3.823704,2.754321,3.568889,3.826173,2.758519,5.557778
4,EPI18_079_000126,1,2,50,4,89.0,103,115,132,123,...,1,1,1,1.186667,3.128148,0.792593,3.454815,2.551111,2.022222,2.720000

In [22]:
gluList = data.loc[:,"AS1_GLU":"AS7_GLU"]
altList = data.loc[:,"AS1_ALT":"AS7_ALT"]
tgList = data.loc[:,"AS1_TG":"AS7_TG"]
waistList = data.loc[:,"AS1_WAIST":"AS7_WAIST"]
fib4List = data.loc[:,"AS1_FIB4":"AS7_FIB4"]
hba1cList = data.loc[:,"AS1_HBA1C":"AS7_HBA1C"]
homaList = data.loc[:,"AS1_HOMA":"AS7_HOMA"]

In [23]:
gluList

      AS1_GLU  AS2_GLU  AS3_GLU  AS4_GLU  AS5_GLU  AS6_GLU  AS7_GLU
0       104.0      113      121      140      109      105      114
1        83.0       99      104      108       83       90      112
2        82.0      138      100       91       96      111      118
3        82.0       89      100       99      104       98      123
4        89.0      103      115      132      123      126      136
...       ...      ...      ...      ...      ...      ...      ...
3042     78.0       81      110       87       91       93       82
3043     86.0       91       87       95       92       88       93
3044     94.0       97       82       90       98       92       92
3045     89.0       88       80       87       89       97       90
3046     80.0       92       87       87       92       88       88

[3047 rows x 7 columns]

In [24]:
df=pd.DataFrame()

In [25]:
data["phase"][0]

4

In [26]:
gluList.columns = [1,2,3,4,5,6,7]
altList.columns = [1,2,3,4,5,6,7]
tgList.columns = [1,2,3,4,5,6,7]
waistList.columns = [1,2,3,4,5,6,7]
fib4List.columns = [1,2,3,4,5,6,7]
hba1cList.columns = [1,2,3,4,5,6,7]
homaList.columns = [1,2,3,4,5,6,7]

In [27]:
endData = []
for i in range(len(gluList)):
    for j in range(len(gluList.columns)):
        if data["phase"][i]==gluList.columns[j]:
            endData.append(gluList[j+1][i])
df['glu'] = endData
print(df)

      glu
0     140
1     104
2     138
3      98
4     132
...   ...
3042   82
3043   93
3044   92
3045   90
3046   88

[3047 rows x 1 columns]

In [28]:
endData = []
for i in range(len(altList)):
    for j in range(len(altList.columns)):
        if data["phase"][i]==altList.columns[j]:
            endData.append(altList[j+1][i])
df['alt'] = endData
print(df)

      glu   alt
0     140  32.0
1     104  17.0
2     138  33.0
3      98  21.0
4     132  24.0
...   ...   ...
3042   82  14.0
3043   93  15.0
3044   92  44.0
3045   90  15.0
3046   88  62.0

[3047 rows x 2 columns]

In [29]:
endData = []
for i in range(len(tgList)):
    for j in range(len(tgList.columns)):
        if data["phase"][i]==tgList.columns[j]:
            endData.append(tgList[j+1][i])
df['tg'] = endData
print(df)

      glu   alt     tg
0     140  32.0  178.0
1     104  17.0  126.0
2     138  33.0  192.0
3      98  21.0  362.0
4     132  24.0  194.0
...   ...   ...    ...
3042   82  14.0  141.0
3043   93  15.0  122.0
3044   92  44.0  106.0
3045   90  15.0  133.0
3046   88  62.0   45.0

[3047 rows x 3 columns]

In [30]:
endData = []
for i in range(len(waistList)):
    for j in range(len(waistList.columns)):
        if data["phase"][i]==waistList.columns[j]:
            endData.append(waistList[j+1][i])
df['waist'] = endData
print(df)

      glu   alt     tg       waist
0     140  32.0  178.0   76.800000
1     104  17.0  126.0   92.700000
2     138  33.0  192.0   91.800000
3      98  21.0  362.0   85.566667
4     132  24.0  194.0   89.033333
...   ...   ...    ...         ...
3042   82  14.0  141.0   84.300000
3043   93  15.0  122.0  102.000000
3044   92  44.0  106.0   85.300000
3045   90  15.0  133.0   89.000000
3046   88  62.0   45.0   76.600000

[3047 rows x 4 columns]

In [31]:
endData = []
for i in range(len(fib4List)):
    for j in range(len(fib4List.columns)):
        if data["phase"][i]==fib4List.columns[j]:
            endData.append(fib4List[j+1][i])
df['fib4'] = endData
print(df)

      glu   alt     tg       waist      fib4
0     140  32.0  178.0   76.800000  0.952007
1     104  17.0  126.0   92.700000  0.820026
2     138  33.0  192.0   91.800000  0.804626
3      98  21.0  362.0   85.566667  1.002506
4     132  24.0  194.0   89.033333  0.671461
...   ...   ...    ...         ...       ...
3042   82  14.0  141.0   84.300000  4.133641
3043   93  15.0  122.0  102.000000  1.193057
3044   92  44.0  106.0   85.300000  1.292553
3045   90  15.0  133.0   89.000000  0.914204
3046   88  62.0   45.0   76.600000  1.845048

[3047 rows x 5 columns]

In [32]:
endData = []
for i in range(len(hba1cList)):
    for j in range(len(hba1cList.columns)):
        if data["phase"][i]==hba1cList.columns[j]:
            endData.append(hba1cList[j+1][i])
df['hba1c'] = endData
print(df)

      glu   alt     tg       waist      fib4  hba1c
0     140  32.0  178.0   76.800000  0.952007    6.2
1     104  17.0  126.0   92.700000  0.820026    7.7
2     138  33.0  192.0   91.800000  0.804626    5.5
3      98  21.0  362.0   85.566667  1.002506    6.7
4     132  24.0  194.0   89.033333  0.671461    7.7
...   ...   ...    ...         ...       ...    ...
3042   82  14.0  141.0   84.300000  4.133641    5.1
3043   93  15.0  122.0  102.000000  1.193057    5.7
3044   92  44.0  106.0   85.300000  1.292553    5.5
3045   90  15.0  133.0   89.000000  0.914204    5.9
3046   88  62.0   45.0   76.600000  1.845048    5.7

[3047 rows x 6 columns]

In [33]:
endData = []
for i in range(len(homaList)):
    for j in range(len(homaList.columns)):
        if data["phase"][i]==homaList.columns[j]:
            endData.append(homaList[j+1][i])
df['homa'] = endData
print(df)

      glu   alt     tg       waist      fib4  hba1c      homa
0     140  32.0  178.0   76.800000  0.952007    6.2  2.316049
1     104  17.0  126.0   92.700000  0.820026    7.7  1.753086
2     138  33.0  192.0   91.800000  0.804626    5.5  3.645926
3      98  21.0  362.0   85.566667  1.002506    6.7  2.758519
4     132  24.0  194.0   89.033333  0.671461    7.7  3.454815
...   ...   ...    ...         ...       ...    ...       ...
3042   82  14.0  141.0   84.300000  4.133641    5.1  1.761481
3043   93  15.0  122.0  102.000000  1.193057    5.7  2.204444
3044   92  44.0  106.0   85.300000  1.292553    5.5  1.862716
3045   90  15.0  133.0   89.000000  0.914204    5.9  1.711111
3046   88  62.0   45.0   76.600000  1.845048    5.7  1.760000

[3047 rows x 7 columns]

In [34]:
df

      glu   alt     tg       waist      fib4  hba1c      homa
0     140  32.0  178.0   76.800000  0.952007    6.2  2.316049
1     104  17.0  126.0   92.700000  0.820026    7.7  1.753086
2     138  33.0  192.0   91.800000  0.804626    5.5  3.645926
3      98  21.0  362.0   85.566667  1.002506    6.7  2.758519
4     132  24.0  194.0   89.033333  0.671461    7.7  3.454815
...   ...   ...    ...         ...       ...    ...       ...
3042   82  14.0  141.0   84.300000  4.133641    5.1  1.761481
3043   93  15.0  122.0  102.000000  1.193057    5.7  2.204444
3044   92  44.0  106.0   85.300000  1.292553    5.5  1.862716
3045   90  15.0  133.0   89.000000  0.914204    5.9  1.711111
3046   88  62.0   45.0   76.600000  1.845048    5.7  1.760000

[3047 rows x 7 columns]

In [35]:
df.to_excel('/home/ekim_reverse/PyCode/study/Python.study/pre_03.xlsx')